<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_Management_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Project_Management_Tool.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundDark" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SurfaceContainerDark" serializeAs="String">
                <value>18, 18, 18</value>
            </setting>
            <setting name="SurfaceDark" serializeAs="String">
                <value>24, 24, 24</value>
            </setting>
            <setting name="OnSurfaceDark" serializeAs="String">
                <value>235, 235, 235</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>28, 130, 173</value>
            </setting>
            <setting name="SecondaryColor" serializeAs="String">
                <value>40, 187, 250</value>
            </setting>
            <setting name="BackgroundLight" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SurfaceContainerLight" serializeAs="String">
                <value>235, 235, 235</value>
            </setting>
            <setting name="SurfaceLight" serializeAs="String">
                <value>205, 205, 205</value>
            </setting>
            <setting name="OnSurfaceLight" serializeAs="String">
                <value>18, 18, 18</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
        </Project_Management_Tool.Properties.Settings>
    </userSettings>
</configuration>